@page
@model ExpressO.RazorPages.Pages.Forms.CoffeeShopsModel
@{
    ViewData["Title"] = "CoffeeShops";
}

<h2>CoffeeShop</h2>

@foreach (var i in Model.CoffeeShopList)
{
    <table>
        <tr>
            <td>@Html.DisplayFor(m => i.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(m => i.Address), @Html.DisplayFor(m => i.City)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(m => i.Phone)</td>
        </tr>
        <tr>
            <td><a asp-page="/Forms/Menu" asp-route-id="@i.Id">Menu</a></td>
        </tr>
    </table>
}

