@page
@model ExpressO.RazorPages.Pages.Forms.CoffeeShopsModel
@{
    ViewData["Title"] = "CoffeeShops";
}

<h2>CoffeeShop</h2>

<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>

<div class="dropdown">
    <button class="dropbtn">Coffee Shops</button>
    <div class="dropdown-content">
        @foreach (var i in Model.CoffeeShopList)
        {
            <a asp-page="/Forms/Menu" asp-route-id="@i.Id">@i.Name</a>
        }
    </div>
</div>

@foreach (var i in Model.CoffeeShopList)
{
    <table>
        <tr>
            <td>@Html.DisplayFor(m => i.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(m => i.Address), @Html.DisplayFor(m => i.City)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(m => i.Phone)</td>
        </tr>
        <tr>
            <td><a asp-page="/Forms/Menu" asp-route-id="@i.Id">Menu</a></td>
        </tr>
    </table>
}

