@page
@model ExpressO.RazorPages.Pages.Forms.CoffeeShopsModel
@{
    ViewData["Title"] = "CoffeeShops";
}

<style>
    img{
        width:100%;
        height:auto;
    }
</style>



<div class="container-fluid">
    <form class="navbar-form navbar-right" method="get">
        <div class="form-group">
            <input type="text" class="form-control" asp-for="SearchTerm" placeholder="Search by Zip Code">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="container">
    @foreach (var i in Model.CoffeeShopList)
    {
        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    <h2>@i.Name</h2>
                    <p>@i.Address</p>
                    <p>@i.City, @i.Zip</p>
                    <p>@i.Phone</p>
                    <p><a asp-page="/Forms/Menu" asp-route-id="@i.Id">Menu</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Hours</h2>
                    <p>@i.Sunday</p>
                    <p>@i.Monday</p>
                    <p>@i.Tuesday</p>
                    <p>@i.Wednesday</p>
                    <p>@i.Thursday</p>
                    <p>@i.Friday</p>
                    <p>@i.Saturday</p>
                </div>
                <div class="col-md-4">
                    <img src="~/images/coffeeShop1.jpg" />
                </div>
            </div>
        </div>
    }
</div>







    @*<form method="get">
            <p>
                Search by Zip Code: <input type="text" asp-for="S" />
                <input type="submit" value="Search" />
            </p>
        </form>*@

    @*<div class="dropdown">
            <button class="dropbtn">Coffee Shops</button>
            <div class="dropdown-content">
                @foreach (var i in Model.CoffeeShopList)
                {
                    <a asp-page="/Forms/Menu" asp-route-id="@i.Id">@i.Name</a>
                }
            </div>
        </div>*@





