@page
@model ExpressO.RazorPages.Pages.Forms.MenuModel
@{
    ViewData["Title"] = "Menu";
}
<center>
    <h2>@Model.Menu.Name</h2>
</center>

<div class="container">
    <div class="col-md-6">
        <table class="table table-striped table-hover col-md-6">
            <thead>
                <tr class="success">
                    <th><h4>Hot Drinks</h4></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Black Coffee</td>
                    <td align="right">@Model.Menu.CoffeeBlack</td>
                </tr>
                <tr>
                    <td>Latte</td>
                    <td align="right">@Model.Menu.Latte</td>
                </tr>
                <tr>
                    <td>Cappuccino</td>
                    <td align="right">@Model.Menu.Cappuccino</td>
                </tr>
                <tr>
                    <td>Expresso</td>
                    <td align="right">@Model.Menu.Expresso</td>
                </tr>
                <tr>
                    <td>Macchiato</td>
                    <td align="right">@Model.Menu.Macchiato</td>
                </tr>
                <tr>
                    <td>Mocha</td>
                    <td align="right">@Model.Menu.Mocha</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-striped table-hover col-md-6">
            <thead>
                <tr class="success">
                    <th><h4>Cold Drinks</h4></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Iced Coffee</td>
                    <td align="right">@Model.Menu.IcedCoffee</td>
                </tr>
                <tr>
                    <td>Iced Expresso</td>
                    <td align="right">@Model.Menu.IcedExpresso</td>
                </tr>
                <tr>
                    <td>Cold Brew</td>
                    <td align="right">@Model.Menu.ColdBrew</td>
                </tr>
                <tr>
                    <td>Frappuccino</td>
                    <td align="right">@Model.Menu.Frappuccino</td>
                </tr>
            </tbody>
        </table>
        </div>
 </div>